@import url('/resources/theme1/css/style.css');
.bg-header {
    width: 100%;
    background-image: url('/resources/theme1/images/background.png');
    background-size: cover;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding: 5%;
    justify-content: flex-end;
    background-position: center;
}

.headerContainer {
    height: 100vh;
}


.basic-header h1 {
    margin: 0;
}


.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    height: 35px;
    width: 100%;
    max-width: 400px;
    border-color: rgba(0,0,0,0.2);
}

.items {
    width: 100%;
    background: #fff url('/resources/theme1/images/grid.png') repeat left top;
    min-height: 350px;
    background-size: 18px 18px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items h3 {
    margin: 0;
    text-align: center;
    color: rgb(34, 34, 34);
    font-size: 37px;
    font-family: 'Roboto';
}

.itemContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-family: 'Roboto';
    text-align: center;
}

.itemContainer h5 {
    font-size: 27px;
}

.itemContainer p {
    font-size: 14px;
}

.itemContainer>div {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.itemContainer img {
    width: 100px;
    height: 100px;
}

.about {
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

@media screen and (min-width: 1200px) {

}
