@import url('/resources/theme1/css/style.css');


.whatToDo {
    text-align: center;
    margin-bottom: 40px;
}

.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.wrong {
    text-align: center;
}

section.wrong h2 {
    font-size: 32px;
}

section.wrong p {
    font-size: 24px;
}

.userBody {
    padding-top: 12px;
}

.driverInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.driverInfo span {
    font-size: 24px;
    margin-bottom: 12px;
}

.postContainer {
    width: 100%;
    max-width: 600px;
    background-color: white;
    margin-bottom: 20px;
    padding: 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.postContainer .userHead {
    display: flex;
    flex-direction: row;
}

.postContainer .userName {
    font-size: 14px;
}

.postContainer img {
    width: 50px;
    margin-right: 8px;
    height: 50px;
}

.pickContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    align-self: center;
}

.pickContainer h5 {
    background-color: #50505B;
    display: flex;
    flex: 1;
    border: 1px solid #50505b;
    margin: 10px 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #FCFCFC;
    font-size: 26px;
}

.pickContainer > .notActiveTab {
    background-color: #ececec;
    color: black;
}

/* RideInfo */
.overlay {
  position: fixed;
  display:none; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
.add {
    width: 50px;
    height: 50px;
    background:url("/resources/theme1/images/add.png");
    background-size: contain; background-repeat: no-repeat;
    display: flex;
}
.riderRegister_Header {
    background-color: #000;
    border-radius: 15px 15px 0 0;

}
.riderRegister_Header p {
    font-family:Segoe UI Semibold,Helvetica,Arial,MS Sans Serif; 
    text-align: center; 
    font-size: 3em; 
    font-weight: bold; 
    padding:2% 0% 2% 0%; 
    color:#fff;
}
.ice {
     color:#07C9F7
}
.riderRegister {
    position: fixed;
    background-color: #5DA4D3;
    width: 40%;
    right:30%;
    top:10%;
    display:none;
    color: #000;  
    border: 0.1em solid #666666;
    border-radius: 15px;
    opacity: 0.95;
    z-index: 11;
}
.riderRegister_Body {
    padding:3% 2% 5% 2%;
}

.invalid { 
    background: #FFB0B0;  
    width: 100%; 
    color: #000000; 
}
.riderInput { 
    float: left;  
    width: 100%; 
}
.locationInput { 
    width: 45%; 
}
.destinationInput { 
    float:right;
    width: 45%; 
}
.loc_to_des {
    font-size:1em;
    margin-left: auto;
    margin-right: auto;
    padding:0 1.5% 0 3%
}
.radios span { 
    height: 1.5em; 
    font-size:1em; 
    color: #000; 
    font-weight:bold;
    padding-right:3%
}

#errorPhone, #errorSubject, #errorLocation, #errorDestination {
    float: left;
    width: 100%;
    color: #B60000;
    font-size:0.9em;
}
textarea {
    width: 100%; 
    height: 160px;  
    font-size: 1em; 
    color: #000; 
    padding:1%;
}
.price {
    border:0; 
    color:#fff; 
    background-color: #fff;
    font-weight:bold;
    color:#000;
}
#amount {
    width:8.5em;
    margin-bottom:2%;
}
.radios .radio {
    background-color:#fff;
    display:inline-block;
    text-align: center;
    line-height: 25px;
    width:25px;
    height:25px;
    margin: 5% 1% 3% 0;
}
.radios input[type=radio] {
    display:none
}
.radios input[type=radio]:checked + .radio {
    background-color:#07C9F7;
    color:#fff;
}

input:not([type]), input[type="text"] {
    border: 0;
    outline: 0;
    padding:2% 1% 1% 1%;
    height: 2em; 
    color: #000; 
    font-size:1em; 
    margin-bottom:1.5%;
}
.submitRider {
    float:right;
    position: relative;
    padding: 10px 30px;
    margin: 0px 10px 10px 0px;
    border-radius: 15px;
    font-family: 'Helvetica', cursive;
    font-size: 1.5em;
    color: #FFF;
    text-decoration: none;  
    background-color: #000;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #000;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    border: none;
    outline:none;
}
.submitRider:hover, 
.submitRider:focus {
    text-decoration: none;
    color: #fff;
}

.submitRider:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
.clock {
    float:left;
    font-size:1.5em;
    margin-right:20px;
}
.clockButton, .clockButton2 {
  float:right;
  width:20px;
  background-color:#07C9F7;
}
.firstTime {
  float:left;
  background-color:#fff;
  padding: 1% 2% 1% 2%;
  margin-bottom: 3%;
  margin-right:5%;
}
.secondTime {
  float:left;
  background-color:#fff;
  padding: 1% 2% 1% 2%;
  margin-bottom: 3%;
}

/* For placeholder in rider */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #616161;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #616161;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #616161;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #616161;
}