@import url('/resources/theme1/css/style.css');

main {
    max-width: 600px;
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.wrong {
    text-align: center;
}

section.wrong h2 {
    font-size: 32px;
}

section.wrong p {
    font-size: 24px;
}

.userBody {
    padding-top: 12px;
}

.imgContainer {
    background-size: cover;
    width: 100px;
    height: 100px;
    background-position: center;
}

.userInfo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.driverInfoContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.driverInfoContainer div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.driverInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    min-height: 32px;
}

.driverInfo > i {
    font-size: 20px;
    margin: 0 8px;
}

.driverInfo>span {
    font-size: 20px;
    margin: 0 8px 12px;
}

.passengersContainer > i {
    font-size: 20px;
    height: 32px;
}

.passengersContainer {
    margin-left: 10px;
}

.driverInfo p {
    font-size: 16px;
    text-align: left;
    word-break: break-word;
}

.postContainer {
    width: 100%;
    max-width: 600px;
    background-color: white;
    margin-bottom: 20px;
    padding: 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.postContainer .userHead {
    display: flex;
    flex-direction: row;
}

.postContainer .userName {
    font-size: 14px;
}

.userHead a {
    color: #3F51B5;
}

.postContainer img {
    width: 100px;
    margin-right: 8px;
    height: 100px;
}

.pickContainer {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 6px;
    flex-direction: row;
    max-width: 600px;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #FFFFFF;
    align-self: center;
}
.addContainer {
    width: 100%;
    max-width: 600px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.pickContainer h5 {
    background-color: #FFFFFF;
    display: flex;
    margin: 0;
    padding: 0 15px;
    height: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #3F51B5;
    font-size: 15px;
}

.pickContainer h5:after {
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
    -webkit-transition: opacity .4s ease-out;
}

.activeTab:after {
    background-color: #3F51B5;
}

.pickContainer .notActiveTab {
    color: rgb(78, 86, 101);
}

.notActiveTab:after {
    opacity: 0;
    background-color: #e9eaed;
}

.notActiveTab:hover:after {
    background-color: #e9eaed;
    opacity: 1;
    /*-webkit-transition: border-bottom 0.5s ease;*/
}

.verticalLine {
    width: 1px;
    background-color: rgba(0,0,0,0.2);
    margin: 10px 0;
}

.selectContainer {
    display: flex;
}

.addButton {
    background-color: #3F51B5;
    color: #FFFFFF;
    height: 34px;
    align-self: center;
    margin-right: 10px;
}

/* RideInfo */
.register {
    background-color: #3f51b5;
    width: 100%;
    display:none;
    color: #000;  
    border-radius: 3px;
    opacity: 0.95;
    padding:5% 4% 0% 4%;
}

.invalid { 
    background: #FFB0B0;  
    width: 100%; 
    color: #000000; 
}

#errorPhone, #errorSubject, #errorLocation, #errorDestination, #errorLocationArea, #errorCar {
    float: left;
    width: 100%;
    margin-left:5%;
    color: #FF3A4B;
    font-size:0.9em;
}

.phone, .car, .place, .clocks, .radios {
    margin-bottom:10px;
    float:left;
    width:100%;
    color:#fff;
}

.phoneInput, .locationAreaInput, .carDescription, .destinationInput, .locationInput {     
    float:left;
    width: 95%; 
    color:#fff;
}

.locationInput {
    margin-bottom:10px;
}

.phone .glyphicon-phone, .car .fa-car, .place .glyphicon-map-marker, .clocks .glyphicon-time, .sliderBody>.glyphicon-usd{
    float:left;
    font-size:1.5em;
    width: 5%;
}

.sliderBody {
    width: 100%;
    float: left;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    color:#fff;
}

#slider-range{
    width:70%;
    margin-left:5%;
    float:left;
}

.price {
    border:0; 
    color:#fff; 
    background-color: #fff;
    display: inline;
    font-weight:bold;
    color:#000;
    float:left;
}

#amount {
    width:20%;
}

.radios span { 
    float:left;
    font-size:1.5em; 
    color: #fff; 
    margin-right:1.2%;
    margin-top:2%;
}

.radios {
    width: 100%;
    float:left;
    color:#000;
}

.radios .radio {
    background-color:#fff;
    display:inline-block;
    text-align: center;
    border-radius: 5px;
    line-height: 25px;
    width:25px;
    margin-right:1%;
    margin-bottom: 5px;
}

.radios input[type=radio] {
    display:none
}

.radios input[type=radio]:checked + .radio {
    background-color: #000;
    color:#fff;
}

input:not([type]), input[type="text"] {
    border: 0;
    outline: 0;
    padding:2% 1% 1% 1%;
    height: 2em; 
    color: #000; 
    font-size:1em; 
}

.clocks {
    margin-bottom: 12px;
    font-size: 1.2em;
    width: 100%;
    float:left;
}

.clockBetween {
    color: #fff; 
}

.clocks h4 {
    float: left;
    margin: 0;
}

.clocks .selectHours .selectHoursFrom {
    margin: 0 10px;
}

.selectHours, .selectMinutes, .selectHoursTo, .selectMinutesTo {
    padding:0.5%;
    margin-right:1%;
    border-radius: 5px;
    color:#000;
}

.selectHoursTo {
    margin-left:1%;
}

textarea {
    width: 100%;  
    font-size: 1em; 
    color: #000; 
    padding:1%;
}

.submitRegister {
    float:right;
    height: 34px;
    align-self: center;
    padding: 0px 20px;
    margin: 10px 0px 10px;
    font-size: 16px;
    color: #FFF; 
    background-color: #000;
    border-radius: 5px;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    border: none;
    outline: none;
}

.submitRegister:hover, .submitRegiste:focus {
    text-decoration: none;
    color: #fff;
}

.submitRegister:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
}
