@import url('/resources/theme1/css/style.css');


.whatToDo {
    text-align: center;
    margin-bottom: 40px;
}

.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userBody {
    padding-top: 12px;
}

.riderContainer {
    width: 100%;
    max-width: 600px;
    background-color: white;
    margin-bottom: 20px;
    padding: 12px;
}

.riderContainer .userHead {
    display: flex;
    flex-direction: row;
}

.riderContainer .userName {
    font-size: 14px;
}

.riderContainer img {
    width: 50px;
    margin-right: 8px;
    height: 50px;
}

.pickContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pickContainer h5 {
    width: 150px;
    height: 150px;
    background-color: #50505B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCFCFC;
    font-size: 26px;
    border-radius: 75px;
}

.pickContainer h5 + h5 {
    margin-left: 5%;
}


/* RideInfo */
.add {
    width: 50px;
    height: 50px;
    background:url("/resources/theme1/images/add.png");
    background-size: contain; background-repeat: no-repeat;
    display: flex;
}
.riderRegister_Header {
    background-color: #000;
    border-radius: 15px 15px 0 0;

}
.riderRegister_Header p {
    font-family:Segoe UI Semibold,Helvetica,Arial,MS Sans Serif; 
    text-align: center; 
    font-size: 3em; 
    font-weight: bold; 
    padding:2% 0% 2% 0%; 
    color:#fff;
}
.riderRegister {
    position: absolute; 
    background-color: #A7DAFF;
    width: 40%; 
    right:30%; 
    top:10%; 
    display:none; 
    color: #000;  
    border: 0.1em solid #666666;
    border-radius: 15px;
}
.riderRegister_Body {
    padding:0% 2% 5% 2%; 
}

.utkoma { 
    display: none; 
    padding-left: 2%; 
}
.invalid { 
    border: 2px solid darkred; 
    background: #FFEEEE;  
    width: 100%; 
    color: #000000; 
}
.riderInput { 
    float: left;  
    width: 100%; 
    height: 1.5em; 
    font-size:1em; 
    color: #000; 
}
.locationInput { 
    width: 40%; 
    height: 1.5em; 
    font-size:1em; 
    color: #000; 
}
.destinationInput { 
    float:right;
    width: 40%; 
    height: 1.5em; 
    font-size:1em; 
    color: #000; 
}
.loc_to_des {
    position: absolute; 
    right:50%;
}
.radios span { 
    height: 1.5em; 
    font-size:1em; 
    color: #000; 
    font-weight:bold;
    padding-right:3%
}
.riderButton {
    padding: 1%; 
    width: 80px; 
    float: right;
    color: #fff; 
    margin-bottom:2%;
    background-color:#1E519F;
}
.riderButton:hover {
    background-color:#000;
}
#errorPhone, #errorSubject, #errorLocation, #errorDestination {
    float: left;
    width: 100%;
    clear: both;
    float: left;
    color: red;
}
textarea {
    width: 100%; 
    height: 160px;  
    font-size: 1.5em; 
    color: #000; 
    padding:1%;
}
.price {
    border:0; 
    color:#fff; 
    background-color: #999999;
    font-weight:bold;
    color:#000;
}
#amount {
    width:7.5em
}
.radios .radio {
    background-color:#666666;
    display:inline-block;
    text-align: center;
    line-height: 25px;
    width:25px;
    height:25px;
    margin-right:5%;
}
.radios input[type=radio] {
    display:none
}
.radios input[type=radio]:checked + .radio {
    background-color:#00B5D9;
    color:#fff;
}

input:not([type]), input[type="text"] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
}


/* For placeholder in rider */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #0569B2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #0569B2;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #0569B2;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #0569B2;
}