
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1200px;
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

body {
    max-width: 100%;
    width: 100%;
    padding: 0%;
    background-color: #ECECEC;
    font-family: 'Roboto';
}

.bg-header h1 {
    color: black;
}

.basic-header {
    height: 5em;
    display: flex;
    background-color: #3f51b5;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Navbar */

.navbar {
    font-family: Helvetica, Arial, MS Sans Serif;
    padding: 0% 5% 0% 5%;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
.navbar a {
    color: white;
}

.navbar-nav {
    float: left;
}

.navbar-nav li {
    padding: 5% 0% 5% 0%;
}


.navbar .icon-bar {
    background-color: white;
}

/* Footer */
footer, .push {
    height: 4em;
    background-color: #222222;
    padding: 2% 4% 2% 4%;
    color: #fff;
}

@media screen and (min-width: 700px) {
    .navbar {
        display: initial;
    }
}
